{% extends 'base.html' %}
{% load bootstrap4 %}
{{ form.media }}

{% block menu_buttons %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Acasa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:patients' %}">Vizualizare pacienti</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h3> {{appointments.first.patient.first_name}} {{appointments.first.patient.last_name}}</h3><br>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Descriere</th>
                <th>Boala</th>
                <th>Simptome</th>
                <th>Data programarii</th>
                <th>Tratament</th>
            </tr>
        </thead>
        <tbody>
            {% for data in appointments %}
                <tr>
                    <td class="align-middle">
                        {{data.description}}
                    </td>
                    <td class="align-middle">
                        {{data.disease}}
                    </td>
                    <td class="align-middle">
                        {% for symptom in data.symptoms.all %}
                            {{symptom.name}}<br>
                        {% endfor %}
                    </td>
                    <td class="align-middle">
                        {{data.scheduled_datetime|date:"d-m-Y H:i" }}
                    </td>
                    <td class="align-middle">
                        {{data.treatment}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for symptom in appointment.symptoms.all %}
        {{symptom.name}}<br>
    {% endfor %}
    Descriere: {{appointment.description}}<br><br>
    <form method="post" id="entry">
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        {% if appointment.status != 1%}
            Tratament: {{appointment.treatment}}
        {% else %}
            {% csrf_token %}
            {{form.media}}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-sm">Incheie tratament</button>
        {% endif %}
    </form>
{% endblock %}
