{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Parola a fost schimbata!</h3>
                <div class="alert alert-success" role="alert">
                    Parola a fost schimbata cu succes!
                </div>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
