{% extends 'base_accounts.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-10">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                    <h3 class="card-title">Schimba parola pentru contul: {{ form.user.email }}</h3>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit"
                                class="btn btn-primary btn-block">Creare cont
                        </button>
                    </form>
                {% else %}
                <h3 class="card-title">Schimba parola</h3>
                <div class="alert alert-danger" role="alert">
                    Link-ul este invalid
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Genereaza un nou link</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
